<div class="customer_wrapper">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h2 class="head_text">{{ 'customer_head_text' | translate }} <span>{{ 'customers' | translate }}</span></h2>
      </div>

      <div class="col-lg-2 col-sm-3 col-4 mt_30">
        <div class="customer_item text-center">
          <img class="img-fluid" src="./../../../assets/img/customer_icon01.svg" alt="customer_icon01">
          <h4>{{ 'government' | translate }}</h4>
        </div>
      </div>
      <div class="col-lg-2 col-sm-3 col-4 mt_30">
        <div class="customer_item text-center">
          <img class="img-fluid" src="./../../../assets/img/customer_icon02.svg" alt="customer_icon02">
          <h4>{{ 'military_defence' | translate }}</h4>
        </div>
      </div>
      <div class="col-lg-2 col-sm-3 col-4 mt_30">
        <div class="customer_item text-center">
          <img class="img-fluid" src="./../../../assets/img/customer_icon03.svg" alt="customer_icon03">
          <h4>{{ 'bankers' | translate }}</h4>
        </div>
      </div>
      <div class="col-lg-2 col-sm-3 col-4 mt_30">
        <div class="customer_item text-center">
          <img class="img-fluid" src="./../../../assets/img/customer_icon04.svg" alt="customer_icon04">
          <h4>{{ 'lawyers' | translate }}</h4>
        </div>
      </div>
      <div class="col-lg-2 col-sm-3 col-4 mt_30">
        <div class="customer_item text-center">
          <img class="img-fluid" src="./../../../assets/img/customer_icon05.svg" alt="customer_icon05">
          <h4>{{ 'corporates' | translate }}</h4>
        </div>
      </div>
      <div class="col-lg-2 col-sm-3 col-4 mt_30">
        <div class="customer_item text-center">
          <img class="img-fluid" src="./../../../assets/img/customer_icon06.svg" alt="customer_icon06">
          <h4>{{ 'general_public' | translate }}</h4>
        </div>
      </div>
      <div class="col-12 mt_30">
        <img class="img-fluid w-100" src="./../../../assets/img/customer_img.svg" alt="customer_img">
      </div>
    </div>
  </div>
</div>

