<footer>
  <div class="footer_wrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-6 mt_30">
          <div class="footer_box">
            <a href="/"><img class="img-fluid" src="./../../../assets/img/logo.svg" alt="logo"></a>
            <p class="mt_20">{{ 'footerIntro' | translate }}</p>
            <!--<span class="footer700 mt_30">{{ 'startSafelyConnecting' | translate }}</span>-->
            <p class="mt_25">
              <!--{{ 'usingGrapheneOS' | translate }}-->
             <!-- <span><img src="./../../../assets/img/arrow_left_icon.svg" alt="arrow_left_icon">
                <img src="./../../../assets/img/logomark.svg" alt="logomark"> GrapheneOS
                <img src="./../../../assets/img/arrow_right_icon.svg" alt="arrow_right_icon"><br><br>-->

                <span class="footer700">News:</span>
                <a href="/stelleros">StellarOS</a> is coming out soon. The most private and secure (open source) OS ever made for mobile-devices
              with <a href="/stellar-protect">Protect</a> deeply integrated to its core.
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-6 mt_30">
          <div class="footer_box">
            <h4 class="footer_head">{{ 'footerOptions' | translate }}</h4>
            <a  href="/stellar-phone" class="nav_btn mt_25">{{ 'getStellarPhone' | translate }}
              <img class="img-fluid" src="./../../../assets/img/mobile_icon.svg" alt="mobile_icon">
            </a>
            <ul class="mt_30">
              <li><a href="/contact-us">{{ 'contact' | translate }}</a></li>
              <li><a href="/about-us">{{ 'aboutUs' | translate }}</a></li>
              <li><a href="/terms-page">{{ 'termsAndConditions' | translate }}</a></li>
              <li><a href="/privacy-page">{{ 'privacyPolicy' | translate }}</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-6 mt_30">
          <div>
            <h4 class="footer_head">{{ 'footerHelp' | translate }}</h4>
            <p class="mt_25 footer700">{{ 'needAssistance' | translate }}</p>
            <p class="mt_25">{{ 'instantReply' | translate }}</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-6 mt_30">
          <div class="footer_social">
            <h4 class="footer_head">{{ 'footerContact' | translate }}</h4>
            <p class="mt_25">{{ 'signal' | translate }}
              <a href="tel:+59173436721">+591 73 43 67 21</a>
            </p>
            <p>Telegram: <a href="https://telegram.me/Stellar_Security">Stellar_Security</a>
            </p>
            <p>{{ 'email' | translate }}
              <a href="mailto:info@stellarsecurity.com">info@stellarsecurity.com</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 custom_center">
        <p class="footer_copyright"><img src="./../../../assets/img/footer_lock.svg" alt="footer_lock">
          Encrypted, secured and protected by <a href="/">Stellar Security.</a>
        </p>
      </div>
      <div class="col-lg-6 col-md-4 custom_center text-right">
        <p class="footer_copyright pt_0">{{ 'rightsReserved' | translate }}</p>
      </div>
    </div>
  </div>
</footer>
