<div class="shipping_detail_wrapper mt_25">
    <div class="shipping_detail_crumb mt_18 font-xs-16">
        <span>
            <img src="./../../../assets/img/shipping-detail.svg" alt="shipping-detail">
            {{'shipping_detail_bread_1' | translate}}
        </span>
        <span class="bar-center"></span>
        <span class="">
            <img src="./../../../assets/img/shipping-payment.svg" alt="shipping-payment">
            {{'shipping_detail_bread_2' | translate}}
        </span>
    </div>
    <div class="shipping_detail_form mt_25 flex-sm-wrap">
        <div class="left_section">
            <h3 class="head_text">{{'payment_method_title' | translate}}</h3>

            <div class="payment_list">
                <div [class]="isItemOpen?'payment_items mt_18 active':'payment_items mt_18'" (click)="showItemInfo()">
                    <span class="payment_type font-18-head font-xs-16">{{'payment_method_credit_card_title' | translate}}</span>
                    <span class="text_muted">{{'payment_method_credit_card_desc' | translate}}</span>
                </div>
                <div class="payment_card_container" *ngIf="isItemOpen">
                    <form class="personal_ifo mt_18 max_468">
                        <h2 class="font-18-head font-xs-16">{{'payment_method_card_form_title' | translate}}</h2>
                        <div class="row mt_12">
                            <div class="col-lg-12">
                                <label>{{'payment_method_card_number_label' | translate}}</label>
                                <input type="text" id="card" name="card"  required class="input_info" placeholder="{{'payment_method_card_number_placeholder' | translate}}" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8 mt_12">
                                <label>{{'payment_method_expiry_number_label' | translate}}</label>
                                <input type="text" id="expiry" name="expiry" required class="input_info" placeholder="{{'payment_method_card_expiry_placeholder' | translate}}" />
                            </div>
                            <div class="col-lg-4 mt_12">
                                <label>{{'payment_method_card_cvv_label' | translate}}</label>
                                <input type="text" id="cvv" name="cvv"  required class="input_info" placeholder="{{'payment_method_card_cvv_placeholder' | translate}}" />
                            </div>
                        </div>
                      
                    </form>
                    <form class="billing_info mt_12 ">
                        <h2 class="font-18-head font-xs-16">{{'payment_method_billing_address_title' | translate}}</h2>
                        <div class="choose_adress d-flex align-items-center mt_18">
                            <input type="checkbox" checked name="address" (change)="onCheckboxChange()">
                            <label class="mb-0">{{'payment_method_shipping_address_label' | translate}}</label>
                        </div>
                        <div class="shipping_address mt_18" *ngIf="isChecked">
                            {{'payment_method_shipping_address' | translate}}
                        </div>
                        <div class="personal_info mt_18" *ngIf="!isChecked">
                            <div class="row">
                                <div class="col-lg-6 mt_12">
                                    <label>{{ 'shipping_detail_info_form_fname_label' | translate}} <span>*</span></label>
                                    <input type="text" id="lname" name="lname"  required class="input_info" placeholder="{{ 'shipping_detail_info_form_fname_placeholder' | translate}}" />
                                </div>
                                <div class="col-lg-6 mt_12">
                                    <label>{{ 'shipping_detail_info_form_lname_label' | translate}} <span>*</span></label>
                                    <input type="text" id="fname" name="fname"  required class="input_info" placeholder="{{ 'shipping_detail_info_form_lname_placeholder' | translate}}" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 mt_12">
                                    <label>{{ 'shipping_detail_info_form_street_label' | translate}} <span>*</span></label>
                                    <input type="text" id="stree" name="street"  required class="input_info" placeholder="{{ 'shipping_detail_info_form_street_placeholder' | translate}}" />
                                </div>
                                <div class="col-lg-6 mt_12">
                                    <label>{{ 'shipping_detail_info_form_suite_label' | translate}}</label>
                                    <input type="text" id="suite" name="suite"  required class="input_info" placeholder="{{ 'shipping_detail_info_form_suite_placeholder' | translate}}" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 mt_12">
                                    <label>{{ 'shipping_detail_info_form_city_label' | translate}} <span>*</span></label>
                                    <input type="text" id="city" name="city"  required class="input_info" placeholder="{{ 'shipping_detail_info_form_city_placeholder' | translate}}" />
                                </div>
                                <div class="col-lg-4 mt_12">
                                    <label>{{ 'shipping_detail_info_form_state_label' | translate}} <span>*</span></label>
                                    <select id="state" name="state" class="input_info">
                                        <option value="Florida">{{ 'shipping_detail_info_form_state_option1' | translate}}</option>
                                        <option value="Fransisco">{{ 'shipping_detail_info_form_state_option2' | translate}}</option>
                                        <option value="Alabam">{{ 'shipping_detail_info_form_state_option3' | translate}}</option>
                                        <option value="Florida" selected>{{ 'shipping_detail_info_form_state_option1' | translate}}</option>
                                      </select>
                                </div>
                                <div class="col-lg-4 mt_12">
                                    <label>{{ 'shipping_detail_info_form_zip_label' | translate}} <span>*</span></label>
                                    <input type="text" id="zipCode" name="zipCode"  required class="input_info" placeholder="{{ 'shipping_detail_info_form_zip_placeholder' | translate}}" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="payment_items mt_18">
                    <span class="payment_type font-18-head font-xs-16">{{'payment_method_credit_cash_title' | translate}}</span>
                    
                </div>
                <div class="payment_items mt_18">
                    <span class="payment_type font-18-head font-xs-16">{{'payment_method_credit_card_title' | translate}}</span>
                    <img src="./../../../assets/img/payment-type-icons.svg" class="cred-cards" alt="payment">
                </div>
                <div class="payment_items mt_18">
                    <img src="./../../../assets/img/paypal.svg" width="150" alt="paypal">
                </div>

                <a routerLink="/thank-you" class="nav_btn mt_18" style="background-color: #60D38E;">Place order</a>

            </div>

           
            
        </div>
        <div class="right_section mt_25">
            <app-order-summary></app-order-summary>
        </div>
    </div>
</div>
