.mt_18{
    margin-top: 18px;
}
.shipping_detail_crumb {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-family: 'silka-medium';
    gap: 10px;
}
span.bar-center {
    height: 1px;
    width: 24px;
    background: gainsboro;
}
span.text_muted {
    color: #CACACA;
}
h3.head_text{
    font-family: 'silka-medium';
}
.font-18-head{
    font-size: 18px;
    font-family: 'silka-medium';
    line-height:27px
}
.mt_12{
    margin-top: 12px;
}
label{
    margin-bottom: 10px;
}
label span{
    color: #FF0000;
}
.shipping_detail_form{
    display: flex;
    justify-content: space-between;
    column-gap: 128px;
}
.left_section{
    flex: 2;
}
.right_section{
    flex: 1.1;
}
select:focus-visible{
    outline: 0;
}
.payment_items {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    border: 2px solid #E5E7EB;
    border-radius: 16px;
    max-width: 468px;
    cursor: pointer;
    transition: 0.3s ease all;
}
.max_468{
    max-width: 468px;
}
.choose_adress{
    gap: 16px;
}
.shipping_address{
    font-size: 14px;
    line-height: 21px;
    max-width: 108px;
}
.payment_items.active,.payment_items:hover {
    border-color:#4364FA;
}
.cred-cards{
    max-width: 321px;
    width: 100%;
}