<app-main-header title="Introducing" boldTitle="Stellar Phone" appMetaTags [description]="metaDescription" [ogTitle]="metaTitle" [keywords]="metaKeywords"></app-main-header>



    <!-- Stellar phone area start -->
    <div class="phone_wrapper position-relative" appMetaTags [description]="metaDescription" [ogTitle]="metaTitle" [keywords]="metaKeywords">
      <img class="phone_shape position-absolute" src="./../../../assets/img/phone_shape.svg" alt="phone_shape">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="text-center mt_50">
              <img class="img-fluid" src="./../../../assets/img/phone.svg" alt="phone">
              <p class="mt_20">{{ 'available_with' | translate }}</p>
              <a href="#"><img class="img-fluid mt_10" src="./../../../assets/img/android_icon.svg" alt="android_icon"></a>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="phone_box mt_50">
              <div class="d-flex align-items-center justify-content-between">
                <h2>{{ 'stellar_phone_head_text' | translate }}</h2>
                <h2 class="amount_text" *ngIf="chosen_phone_subscription == 3">{{ 'phone_3_month_price' | translate }}</h2>
                <h2 class="amount_text" *ngIf="chosen_phone_subscription == 6">{{ 'phone_price' | translate }}</h2>
              </div>
              <p class="mt_25 phone_border"><span class="phone_para">{{ 'phone_description_stellar_phone' | translate }}</span> {{ 'phone_description_stellar_phone2' | translate }}</p>
              <p class="phone_para mt_25">{{ 'choose_subscription' | translate }}</p>
              <div class="subscription_btn">
                <a [class.active]="chosen_phone_subscription == 3" href="javascript:void(0)" (click)="setChoseSubscription(3)">{{ 'subscription_3_months' | translate }}</a>
                <a [class.active]="chosen_phone_subscription == 6" href="javascript:void(0)" (click)="setChoseSubscription(6)">{{ 'subscription_6_months' | translate }}</a>
              </div>
              <p class="phone_para_opacity mt_25">{{ 'phone_includes' | translate }}</p>
              <a  href="/contact-us" class="nav_btn mt_25">{{ 'buy_phone_button' | translate }} <img class="img-fluid" src="./../../../assets/img/basket_icon.svg" alt="basket_icon"></a>
              <div class="owl-carousel payment_logo mt_30">
                <img class="img-fluid" src="./../../../assets/img/payment_icon01.svg" alt="payment_icon01">
                <img class="img-fluid" src="./../../../assets/img/payment_icon02.svg" alt="payment_icon02">
                <img class="img-fluid" src="./../../../assets/img/payment_icon03.svg" alt="payment_icon03">
                <img class="img-fluid" src="./../../../assets/img/payment_icon04.svg" alt="payment_icon04">
                <img class="img-fluid" src="./../../../assets/img/payment_icon05.svg" alt="payment_icon05">
                <img class="img-fluid" src="./../../../assets/img/payment_icon06.svg" alt="payment_icon06">
              </div>
              <div class="text-center mt_20">
                <p><img class="mr_10" src="./../../../assets/img/footer_lock.svg" alt="footer_lock"> {{ 'secured_by_stellar_security' | translate }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- Stellar phone area end -->


    <!-- package area start -->
 <app-security-package-section></app-security-package-section>
    <!-- package area end -->


    <!-- app area start -->
<app-pre-installed-apps-sections></app-pre-installed-apps-sections>
    <!-- app area end -->

<app-open-source-section></app-open-source-section>

    <!-- embrac area start -->
<app-embrac-section></app-embrac-section>
    <!-- embrac area end -->

    <!-- feature area start -->
<!--<app-feature-section></app-feature-section>-->
    <!-- feature area end -->

<app-customer-reviews></app-customer-reviews>

