<div class="seller-wrapper pt-100 position-relative">
    <!-- <img class="phone_shape position-absolute" src="./../../../assets/img/phone_shape.svg" alt="phone_shape"> -->
    <div class="container">
      <div class="row mt_50 align-items-center flex-sm-dir justify-content-between">
       
        <div class="col-lg-6">
          <div class="">
              <div class="head_text d-none d-md-block">{{ 'esim_seller_main_title' | translate}} <span class="color-purple">{{'esim_seller_main_bold_purple' | translate}}</span></div>
              <div class="mt_25">
                  <p class="">{{'esim_seller_para_1' | translate}}</p>
                  <p class="mt_25">{{'esim_seller_para_2' | translate}}</p>
              </div>
            <a  href="/contact-us" class="nav_btn green-btn mt_25">{{ 'esim_seller_contact_btn' | translate }} </a>
          
          </div>
        </div>
        <div class="col-lg-6">
            <div class="text-center">
                <div class="head_text d-block d-md-none mb-5">{{ 'esim_seller_main_title' | translate}} <span class="color-purple">{{'esim_seller_main_bold_purple' | translate}}</span></div>
                <div class="position-relative">
                    <img class="img-fluid" style="border-radius: 10px;" src="./../../../assets/img/become-seller.jpg" alt="sim">
                </div>
    
            </div>
          </div>
      </div>
    </div>
  </div>
