<div class="app_wrapper pt-100">
    <div class="container pd-sm-0">
        <div class="">
            <div class="position-relative mt_30 your-privacy-section">
                <div class="row mg-sm-0 align-items-center pd-42 pb-0 flex-wrap">
                 
                    
                    <div class="app-left-section m-auto m-lg-0 col-lg-6 text-center text-md-left">
                        <h2 class="head_text">{{ 'stellar_your_privacy_main_title_before' | translate }} <span class="color-purple">{{ 'stellar_your_privacy_bold_purple_title' | translate }} </span>{{ 'stellar_your_privacy_main_title_after' | translate }} </h2>
                        <p class="mt_30">{{'stellar_your_privacy_description' | translate}}</p>
                     
                    </div>
                    <div class="image position-relative col-lg-6 px-0 px-md-3">
                        <img class="img-fluid corner_icon01" src="./../../../assets/img/stellar-device.png" alt="corner_icon01">
                      </div>
                </div>
               
              
            </div>
        </div>
    </div>
  </div>
