<!-- install apps area start -->
<div class="install_app_wrapper">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h2 class="head_text">{{ 'install_apps_head_text' | translate }} <span>{{ 'install_apps_span' | translate }}</span></h2>
        <p class="mt_25"></p>
        <p>{{ 'phone_comes_with' | translate }}</p>
        <p>{{ 'built_in_app_store' | translate }}</p>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
        <div class="install_app_item">
          <div class="d-flex align-items-center justify-content-between">
                                                <h3 class="head_two">{{ 'aptoide' | translate }}</h3>
          </div>
          <div class="mt_15">
            <p>{{ 'aptoide_description' | translate }}</p>
            <p class="mt_25"></p>
            <div align="center">
              <img class="img-fluid install_appicon" src="./../../../assets/img/preinstalled/aptoide.png" alt="install_appicon">
            </div>
            <p class="mt_25"></p>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
        <div class="install_app_item">
          <div class="d-flex align-items-center justify-content-between">
            <h3 class="head_two">{{ 'fdroid' | translate }}</h3>
          </div>
          <div class="mt_15">
            <p>{{ 'fdroid_description' | translate }}</p>
            <p class="mt_25"></p>
            <div align="center">
              <img class="img-fluid install_appicon" src="./../../../assets/img/preinstalled/fdroid.png" alt="install_appicon">
            </div>
            <p class="mt_25"></p>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
        <div class="install_app_item">
          <div class="d-flex align-items-center justify-content-between">
            <h3 class="head_two">{{ 'stellar' | translate }} {{ 'antivirus' | translate }}</h3>
          </div>
          <div class="mt_15">
            <p>{{ 'antivirus_description_2' | translate }}</p>
            <p class="mt_25"></p>
            <div align="center">
              <img class="cete" class="img-fluid install_appicon" src="./../../../assets/img/preinstalled/antivirus.svg" alt="install_appicon">
            </div>
            <p class="mt_25"></p>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
        <div class="install_app_item">
          <div class="d-flex align-items-center justify-content-between">
            <h3 class="head_two">Stellar Protect</h3>
          </div>
          <div class="mt_15">
            <p>{{ 'protect_description' | translate }}</p>
            <p class="mt_25"></p>
            <div align="center">
              <img class="img-fluid install_appicon" src="./../../../assets/img/preinstalled/protect.jpg"  alt="install_appicon">
            </div>
            <p class="mt_25"></p>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
        <div class="install_app_item">
          <div class="d-flex align-items-center justify-content-between">
            <h3 class="head_two">{{ 'molly' | translate }} (Signal)</h3>
          </div>
          <div class=" mt_15">
            <p>{{ 'molly_description' | translate }}</p>
            <p class="mt_25"></p>
            <div align="center">
              <img class="img-fluid install_appicon" src="./../../../assets/img/preinstalled/signal.png"  alt="install_appicon">
            </div>
            <p class="mt_25"></p>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
        <div class="install_app_item">
          <div class="d-flex align-items-center justify-content-between">
            <h3 class="head_two">{{ 'session' | translate }}</h3>
          </div>
          <div class="mt_15">
            <p>{{ 'session_description' | translate }}</p>
            <p class="mt_25"></p>
            <div align="center">
              <img class="img-fluid install_appicon" src="./../../../assets/img/preinstalled/session.png" alt="install_appicon">
              <p class="mt_25"></p>
            </div>
          </div>
        </div>
      </div>



      <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
        <div class="install_app_item">
          <div class="d-flex align-items-center justify-content-between">
            <h3 class="head_two">{{ 'whatsapp' | translate }}</h3>
          </div>
          <div class="mt_15">
            <p>{{ 'whatsapp_description' | translate }}</p>
            <p class="mt_25"></p>
            <div align="center">
              <img class="img-fluid install_appicon" src="./../../../assets/img/preinstalled/whatsapp.png" alt="install_appicon">
            </div>
            <p class="mt_25"></p>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
        <div class="install_app_item">
          <div class="d-flex align-items-center justify-content-between">
            <h3 class="head_two">{{ 'telegram' | translate }}</h3>
            <p class="mt_25"></p>
          </div>
          <div class="mt_15">
            <p>{{ 'session_description' | translate }}</p>
            <p class="mt_25"></p>
            <div align="center">
              <img class="img-fluid install_appicon" src="./../../../assets/img/preinstalled/telegram.png" alt="install_appicon">
              <p class="mt_25"></p>
            </div>
          </div>
        </div>
      </div>



      <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
        <div class="install_app_item">
          <div class="d-flex align-items-center justify-content-between">
            <h3 class="head_two">{{ 'standard_notes' | translate }}</h3>
          </div>
          <div class="mt_15">
            <p>{{ 'standard_notes_description' | translate }}</p>
            <p class="mt_25"></p>
            <div align="center">
              <img class="img-fluid install_appicon" src="./../../../assets/img/preinstalled/notes.jpg" alt="install_appicon">
            </div>
            <p class="mt_25"></p>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
        <div class="install_app_item">
          <div class="d-flex align-items-center justify-content-between">
            <h3 class="head_two">{{ 'stellardata' | translate }}</h3>
          </div>
          <div class="mt_15">
            <p>{{ 'stellardata_description' | translate }}</p>
            <p class="mt_25"></p>
            <div align="center">
              <img class="img-fluid install_appicon" src="./../../../assets/img/preinstalled/stellardata.jpg" alt="install_appicon">
            </div>
            <p class="mt_25"></p>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
        <div class="install_app_item">
          <div class="d-flex align-items-center justify-content-between">
            <h3 class="head_two">{{ 'stellar' | translate }} {{ 'vpn' | translate }}</h3>
          </div>
          <div class="mt_15">
            <p>{{ 'vpn_description' | translate }}</p>
            <p class="mt_25"></p>
            <div align="center">
              <img class="img-fluid install_appicon" src="./../../../assets/img/preinstalled/vpn.png" alt="install_appicon">
            </div>
            <p class="mt_25"></p>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
        <div class="install_app_item">
          <div class="d-flex align-items-center justify-content-between">
            <h3 class="head_two">{{ 'stellarsupport' | translate }}</h3>
          </div>
          <div class="mt_15">
            <p>{{ 'stellarsupport_description' | translate }}</p>
            <p class="mt_25"></p>
            <div align="center">
              <img class="img-fluid install_appicon" src="./../../../assets/img/preinstalled/stellarsupport.jpg" alt="install_appicon">
            </div>
            <p class="mt_25"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- install apps area end -->
