
<div class="top-padding security-app-wrapper" appMetaTags [description]="metaDescription" [ogTitle]="metaTitle" [keywords]="metaKeywords"
>
    <div class="d-flex align-items-center justify-content-center">
       
        <img class="protected-icon" src="./../../../assets/img/Logo_Stellar_Protect.png" alt="protected-icon">
        
    </div>
    
    <div class="phone_wrapper position-relative">
        <img class="phone_shape position-absolute" src="./../../../assets/img/phone_shape.svg" alt="phone_shape">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="text-center mt_50">
                <img class="img-fluid main-mobile-img" src="./../../../assets/img/stellar-protect-mobile.svg" alt="phone">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="phone_box mt_50">
                <div class="text-center text-md-left">
                    <div class="head_text head_two">{{ 'stellar_safeguard_title' | translate}}</div>
                    <div class="mt_25"><span class="amount_text amount_price">{{ 'stellar_safeguard_amount' | translate }}</span> /<span class="amount_duration">{{ 'stellar_safeguard_amount_duration' | translate }}</span></div>
                </div>
                <p class="mt_25"> {{ 'stellar_safeguard_description' | translate }}</p>

                  <p class="mt_25"><strong>{{'stellar_safeguard_description_works' | translate }}</strong></p>

                <ul class="stellar-protected-list mt_25">
                    <li>
                        <img class="img-fluid" src="./../../../assets/img/check-mark.svg" alt="check mark">
                        <span>{{'stellar_safeguard_amount_list_7' | translate}}</span>
                    </li>
                    <li>
                        <img class="img-fluid" src="./../../../assets/img/check-mark.svg" alt="check mark">
                        <span>{{'stellar_safeguard_amount_list_1' | translate}}</span>
                    </li>
                    <li>
                        <img class="img-fluid" src="./../../../assets/img/check-mark.svg" alt="check mark">
                        <span>{{'stellar_safeguard_amount_list_2' | translate}}</span>
                    </li>
                    <li>
                        <img class="img-fluid" src="./../../../assets/img/check-mark.svg" alt="check mark">
                        <span>{{'stellar_safeguard_amount_list_3'  | translate}}</span>
                    </li>
                    <li>
                        <img class="img-fluid" src="./../../../assets/img/check-mark.svg" alt="check mark">
                        <span>{{'stellar_safeguard_amount_list_4' | translate}}</span>
                    </li>
                    <li>
                        <img class="img-fluid" src="./../../../assets/img/check-mark.svg" alt="check mark">
                        <span>{{'stellar_safeguard_amount_list_5' | translate}}</span>
                    </li>
                    <li>
                        <img class="img-fluid" src="./../../../assets/img/check-mark.svg" alt="check mark">
                        <span>{{'stellar_safeguard_amount_list_6' | translate}}</span>
                    </li>
                  </ul>
                  <div class="mt_25">
                    <!--<img class="img-fluid" src="./../../../assets/img/Google-store.svg" alt="check mark"><br>
                    <br>-->
                    {{'available_app_in_other_stores' | translate}}
                  </div>
                  <div class="owl-carousel payment_logo mt_30">
                    <img class="img-fluid" src="./../../../assets/img/payment_icon01.svg" alt="payment_icon01">
                    <img class="img-fluid" src="./../../../assets/img/payment_icon02.svg" alt="payment_icon02">
                    <img class="img-fluid" src="./../../../assets/img/payment_icon03.svg" alt="payment_icon03">
                    <img class="img-fluid" src="./../../../assets/img/payment_icon04.svg" alt="payment_icon04">
                    <img class="img-fluid" src="./../../../assets/img/payment_icon05.svg" alt="payment_icon05">
                    <img class="img-fluid" src="./../../../assets/img/payment_icon06.svg" alt="payment_icon06">
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-stellar-privacy></app-stellar-privacy>
      <app-stellar-protect-device></app-stellar-protect-device>
      <app-first-class-safety></app-first-class-safety>
      <app-stellar-track-account></app-stellar-track-account>
      <app-stellar-security-seller></app-stellar-security-seller>
</div>
