<div class="source_wrapper">
  <div class="container">
      <div class="row">
          <div class="col-12 text-center">
              <h2 class="head_text">{{ 'phone_built_on' | translate }} <span>{{ 'open_source' | translate }}</span></h2>
          </div>
          <div class="col-lg-6 mt_30">
              <div class="source_item d-flex align-items-start">
                  <img class="img-fluid" src="../../../assets/img/icons/Icon.svg" alt="source_icon">
                  <div>
                      <h3 class="head_two">{{ 'graphene_os' | translate }}</h3>
                      <p class="mt_15">{{ 'graphene_os_description' | translate }} <a href="/stelleros">{{ 'read_more_about_stellar_os' | translate }}</a></p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 mt_30">
              <div class="source_item d-flex align-items-start">
                  <img class="img-fluid" src="../../../assets/img/icons/Icon-3.svg" alt="source_icon">
                  <div>
                      <h3 class="head_two">{{ 'vpn_built_on_openvpn' | translate }}</h3>
                      <p class="mt_15">{{ 'vpn_description2' | translate }}</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 mt_30">
              <div class="source_item d-flex align-items-start">
                  <img class="img-fluid" src="../../../assets/img/icons/Icon-1.svg" alt="source_icon">
                  <div>
                      <h3 class="head_two">{{ 'antivirus' | translate }}</h3>
                      <p class="mt_15">{{ 'antivirus_description2' | translate }}</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 mt_30">
              <div class="source_item d-flex align-items-start">
                  <img class="img-fluid" src="../../../assets/img/icons/Icon-4.svg" alt="source_icon">
                  <div>
                      <h3 class="head_two">{{ 'before_first_unlock' | translate }}</h3>
                      <p class="mt_15">{{ 'before_first_unlock_description' | translate }}</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 mt_30">
              <div class="source_item d-flex align-items-start">
                  <img class="img-fluid" src="../../../assets/img/icons/Icon-2.svg" alt="source_icon">
                  <div>
                      <h3 class="head_two">{{ 'remote_wipe' | translate }}</h3>
                      <p class="mt_15">{{ 'remote_wipe_description' | translate }} <a href="https://wipe.stellarsecurity.com">{{ 'remote_wipe_description_link' | translate }}</a>. {{ 'remote_wipe_description2' | translate }}</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 mt_30">
              <div class="source_item d-flex align-items-start">
                  <img class="img-fluid" src="../../../assets/img/icons/Icon-5.svg" alt="source_icon">
                  <div>
                      <h3 class="head_two">{{ 'strong_passwords' | translate }}</h3>
                      <p class="mt_15">{{ 'strong_passwords_description' | translate }}</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
