<div class="customer_wrapper">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h2 class="head_text"><span>{{ 'customer' | translate }}</span> {{ 'customer_reviews_head_text' | translate }}</h2>
            </div>

            <div class="col-lg-3 col-sm-12 col-12 mt_30">
                <div class="review">
                    Stellar Security offers a broad of products that helps me and my company to be more secure. What I mostly like about Stellar is how fast and reliable their support is.
                    <br><br>

                    — <span class="author">Andrew Christophér</span>
                </div>
            </div>

            <div class="col-lg-3 col-sm-12 col-12 mt_30">
                <div class="review">
                    With Stellar Security we get multiple updates each month. We have been using their products since the beginning and there has never been any problems at all.
                    <br><br>

                    — <span class="author">Sofia Rey</span>
                </div>
            </div>
            <div class="col-lg-3 col-sm-12 col-12 mt_30">
                <div class="review">
                    Some of our customers uses Stellar Phone while other uses their apps on 'normal' phones. New security updates from Stellar every month keeps us updated and secured.
                    <br><br>

                    — <span class="author">Daniel Valic</span>
                </div>
            </div>

        </div>
    </div>
</div>

