/*Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1700.98px){
	.offcavas_menu a{
		width: 21rem;
	}
}
@media (max-width: 1399px){
	.security_wrap {
	    top: 18%;
	}
}

@media (min-width: 1200px) { 
	.container {
		max-width: 1200px;
	}
}

@media (max-width: 1199px) { 

	.container {
	    max-width: 100%;
	}

	.feature_bg {
	    margin-top: -15rem;
	}

	.security_wrap {
	    top: 7%;
	}

	.security_box img {
	    width: 11vw;
	}

	.offcavas_menu a {
	    width: 23rem;
	    margin: 1rem 0.5rem;
	}


	
}

@media (max-width: 991px) {
	
	.big_headwrap h1 {
	    font-size: 4.2rem;
	    line-height: 5.2rem;
	}

	.areas_item p br {
		display: none;
	}

	.areas_wrapper {
	    padding: 5rem 0 5rem 0 !important;
	}

	.customer_wrapper {
	    padding: 5rem 0 5rem 0;
	}

	.footer_wrap {
	    padding: 2rem 0 5rem 0;
	}

	.phone_shape {
		display: none;
	}

	.install_app_wrapper {
	    padding: 5rem 0 5rem 0;
	}

	.source_wrapper {
	    padding: 5rem 0 5rem 0;
	}

	.embrac_wrapper {
	    padding: 5rem 0 5rem 0;
	}

	.order_one {
	    -webkit-box-ordinal-group: 3;
	        -ms-flex-order: 2;
	            order: 2;
	}

	.order_two {
	    -webkit-box-ordinal-group: 2;
	        -ms-flex-order: 1;
	            order: 1;
	}

	.order_three {
	    -webkit-box-ordinal-group: 4;
	        -ms-flex-order: 3;
	            order: 3;
	}

	.feature_bg {
		display: none;
	}

	.feature_wrapper {
	    padding: 5rem 0 5rem 0;
	}

	.form_wrapper {
	    padding: 0 1.5rem 5rem 1.5rem;
	}

	.about_wrapper {
	    padding-bottom: 5rem;
	}

	.private_wrapper {
	    padding: 5rem 0 5rem 0;
	}

	.private_shape02 {
	    top: auto;
	    bottom: 0;
	}

	.security_wrap {
	    top: 7%;
	}

	.security_box img {
	    width: 11.88vw;
	    margin-right: 3.1vw;
	}

	.security_box {
	    padding: 2vw 3.2vh;
	    margin-top: 2.9vh;
	}

	.security_box ul li {
	    font-size: 1.02vw;
	    line-height: 2vh;
	}

	.security_wrapper .nav_btn {
	    font-size: 1.5vw;
	    margin-top: 3.6vh;
	}

	.checkout_sticky {
		padding-bottom: 3rem;
	}

	.private_logo {
	    width: 18.2rem;
	}

}

/*Medium devices (tablets, 767px and down)*/
@media (max-width: 767px) {
	
	html {
	    font-size: 48.5%;
	}

	.areas_item img {
	    height: 6rem;
	}

	.custom_center {
		text-align: center !important;
	}

	.footer_copyright {
	    padding: 1.5rem 0;
	}

	.pt_0 {
		padding-top: 0;
	}

	.menu_item li a {
	    padding: 1.3rem 1.6rem;
	}

	.security_box {
	    padding: 2vw 2.2vh;
	}

	.security_box img {
	    width: 8.88vw;
	    margin-right: 3.1vw;
	}

	.security_box ul li {
	    font-size: 1vw;
	    line-height: 1.33vh;
	}

	.security_wrapper .nav_btn {
	    padding: 1.2vh 2vw;
	    margin-top: 1.6vh;
	}
	.flex-sm-wrap{
		flex-wrap: wrap !important;
	}
}

/*Small devices (landscape phones, 575px and down)*/
@media (max-width: 575px) {

	header nav .menu_item, header .nav_btn {
		display: none;
	}

	.menu_item li a {
	    margin: 0 0 2rem 0;
	}

	.hamburger_menu {
		display: block;
	}

	.offcavas_menu {
	    height: 100vh;
	    left: -100%;
	}

	.offcavas_menu.open {
		left: 0;
	}

	.offcavas_menu .menu_item {
		display: block;
	}

	.offcavas_menu .nav_btn {
	    display: -webkit-inline-box;
	    display: -ms-inline-flexbox;
	    display: inline-flex;
	    background: #4364FA;
	    color: #ffffff;
	}

	.offcavas_menu .nav_btn:hover {
		background: #1432be;
	}

	.offcavas_menu a {
	    margin: 0 1.5rem 0.5rem 1.5rem;
	    width: 27rem;
	}

	.big_headwrap h1 {
	    font-size: 3.2rem;
	    line-height: 4.2rem;
	}

	.head_text {
	    font-size: 2.5rem;
	    line-height: 3rem;
	}

	.play_video {
	    top: 8%;
	    left: 42%;
	}

	.play_video img {
	    width: 8rem;
	    height: 7rem;
	}

	.phone_offcavas .nav_btn {
		background: #60D38E;
	}

	.privacy_matter {
		display: none;
	}

	.offcavas_menu .privacy_matter {
	    display: -webkit-inline-box;
	    display: -ms-inline-flexbox;
	    display: inline-flex;
	    background: transparent;
	    text-transform: capitalize;
	    font-family: silka-regular;
	}

	.form_width div p br {
		display: none;
	}

	.form_width div {
	    width: 100%;
	    margin-right: 0;
	}

	main {
	    margin-top: 5rem;
	    padding-top: 5rem;
	}

	.checkout_box h2 {
	    font-size: 2.5rem;
	}

	.coming_text .head_two {
	    font-size: 1.5rem;
	}

	.available_text {
	    margin-top: -10.5rem;
	}

	.private_logo {
	    width: 20.2rem;
	}

	/* .private_shape01, .private_shape02 {
		//display: none;
	} */

	.security_wrapper {
	    padding-bottom: 5rem;
	}

	.security_wrap {
	    padding: 0 1.5rem;
	    position: relative;
	    left: auto;
	    -webkit-transform: translateX(0);
	        -ms-transform: translateX(0);
	            transform: translateX(0);
	    top: auto;
	}

	.security_box {
	    padding: 3rem;
	    width: 100%;
	    max-width: 45rem;
	}

	.security_box img {
	    width: 12rem;
	    margin-right: 7.1vw;
	}

	.security_box ul li {
	    font-size: 1.3rem;
	    line-height: 2.3rem;
	}

	.security_big_img {
		display: none;
	}
	.font-xs-14{
		font-size: 14px !important;
	}
	.font-xs-16{
		font-size: 16px !important;
	}
	.font-xs-20{
		font-size: 20px !important;
	}
}

