<div class="first_class_wrapper pt-100">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb_40">
                <h2 class="head_text head_two">{{ 'first_class_title' | translate }}</h2>
            </div>
            <div class="col-lg-6 mt_30">
                <div class="source_item d-flex align-items-start">
                    <img class="img-fluid" src="../../../assets/img/icons/time-detector.svg" alt="source_icon">
                    <div>
                        <h3 class="head_two">{{ 'first_class_screen_alive' | translate }}</h3>
                        <p class="mt_15">{{ 'first_class_screen_alive_description' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt_30">
                <div class="source_item d-flex align-items-start">
                    <img class="img-fluid" src="../../../assets/img/icons/fall-detector.svg" alt="source_icon">
                    <div>
                        <h3 class="head_two">{{ 'first_class_fall_detector' | translate }}</h3>
                        <p class="mt_15">{{ 'first_class_fall_detector_description' | translate }} </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt_30">
                <div class="source_item d-flex align-items-start">
                    <img class="img-fluid" src="../../../assets/img/icons/shake-detector.svg" alt="source_icon">
                    <div>
                        <h3 class="head_two">{{ 'first_class_shake_detector' | translate }}</h3>
                        <p class="mt_15">{{ 'first_class_shake_detector_description' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt_30">
                <div class="source_item d-flex align-items-start">
                    <img class="img-fluid" src="../../../assets/img/icons/remote-wipe.svg" alt="source_icon">
                    <div>
                        <h3 class="head_two">{{ 'first_class_remote_wipe' | translate }}</h3>
                        <p class="mt_15">{{ 'first_class_remote_wipe_description' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt_30">
                <div class="source_item d-flex align-items-start">
                    <img class="img-fluid" src="../../../assets/img/icons/force-detector.svg" alt="source_icon">
                    <div>
                        <h3 class="head_two">{{ 'first_class_force_detector' | translate }}</h3>
                        <p class="mt_15">{{ 'first_class_force_detector_description' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt_30">
                <div class="source_item d-flex align-items-start">
                    <img class="img-fluid" src="../../../assets/img/icons/time-detector.svg" alt="source_icon">
                    <div>
                        <h3 class="head_two">{{ 'first_class_time_detector' | translate }}</h3>
                        <p class="mt_15">{{ 'first_class_time_detector_description' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt_30">
                <div class="source_item d-flex align-items-start">
                    <img class="img-fluid" src="../../../assets/img/icons/usb-protection.svg" alt="source_icon">
                    <div>
                        <h3 class="head_two">{{ 'first_class_usb_protection' | translate }}</h3>
                        <p class="mt_15">{{ 'first_class_usb_protection_description' | translate }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div align="center">
            <p class="mt-100 head_text">Protect allows you to choose which feautures you want enabled.</p>
        </div>

    </div>

  </div>
