
<div class="feature_wrapper">
  <div class="container">
      <div class="row">
          <div class="col-12 text-center">
              <h2 class="head_text">{{ 'first_class_features' | translate }}<span> {{"features"|translate}}</span></h2>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 order_one mt_50">
              <div class="feature_item">
                  <h3 class="head_two">{{ 'self_destructing_messages' | translate }}</h3>
                  <p class="mt_15">{{ 'self_destructing_messages_description' | translate }}</p>
              </div>
              <div class="feature_item mt_25">
                  <h3 class="head_two">{{ 'group_broadcast_messages' | translate }}</h3>
                  <p class="mt_15">{{ 'group_broadcast_messages_description' | translate }}</p>
              </div>
              <div class="feature_item feature_item_border mt_25">
                  <h3 class="head_two">{{ 'full_featured_group_chat' | translate }}</h3>
                  <p class="mt_15">{{ 'full_featured_group_chat_description' | translate }}</p>
              </div>
          </div>
          <div class="col-lg-4 text-center order_two mt_50">
              <img class="img-fluid" src="./../../../assets/img/feature_img.svg" alt="feature_img">
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 order_three mt_50">
              <div class="feature_item">
                  <h3 class="head_two">{{ 'share_images_and_notes' | translate }}</h3>
                  <p class="mt_15">{{ 'share_images_and_notes_description' | translate }}</p>
              </div>
              <div class="feature_item mt_25">
                  <h3 class="head_two">{{ 'secure_audio_messages' | translate }}</h3>
                  <p class="mt_15">{{ 'secure_audio_messages_description' | translate }}</p>
              </div>
              <div class="feature_item feature_item_border mt_25">
                  <h3 class="head_two">{{ 'end_to_end_encryption' | translate }}</h3>
                  <p class="mt_15">{{ 'end_to_end_encryption_description' | translate }}</p>
              </div>
          </div>
          <div class="col-12">
              <img class="img-fluid feature_bg w-100" src="./../../../assets/img/feature_bg.svg" alt="feature_bg">
          </div>
      </div>
  </div>
</div>
