<div class="areas_wrapper choose_wrapper">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-12 text-center">
              <h2 class="head_text">{{ 'protect_all_your_devices' | translate }} <span>{{ 'your_devices' | translate }}</span></h2>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
              <div class="areas_item text-center">
                  <h3 class="head_two">{{ 'windows_pc' | translate }}</h3>
                  <img class="img-fluid" src="./../../../assets/img/device_icon01.svg" alt="areas_icon01">
                  <p>{{ 'windows_pc_description' | translate }}</p>
              </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
              <div class="areas_item text-center">
                  <h3 class="head_two">{{ 'mac_osx' | translate }}</h3>
                  <img class="img-fluid" src="./../../../assets/img/device_icon02.svg" alt="choose_icon02">
                  <p>{{ 'mac_osx_description' | translate }}</p>
              </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
              <div class="areas_item text-center">
                  <h3 class="head_two">{{ 'android' | translate }}</h3>
                  <img class="img-fluid" src="./../../../assets/img/device_icon03.svg" alt="choose_icon03">
                  <p>{{ 'android_description' | translate }}</p>
              </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
              <div class="areas_item text-center">
                  <h3 class="head_two">{{ 'ios' | translate }}</h3>
                  <img class="img-fluid" src="./../../../assets/img/device_icon04.svg" alt="choose_icon04">
                  <p>{{ 'ios_description' | translate }}</p>
              </div>
          </div>
      </div>
  </div>
</div>
