<div class="pt-100 sim-binifits-wrapper">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <h3 class="head_text">{{ 'esim_benifit_title' | translate }} <span class="color-purple">{{ 'esim_goal_main_bold_purple' | translate }}</span> </h3>
        </div>
        <div class="col-xl-3 col-12 col-lg-4 col-sm-6 mt_30">
          <div class="areas_item text-center">
            <h3 class="head_two">{{ 'esim_comfortable' | translate }}</h3>
            <img class="img-fluid" src="./../../../assets/img/comfort-esim.svg" alt="areas_icon01">
            <p>{{ 'esim_comfortable_para' | translate }}</p>
          </div>
        </div>
        <div class="col-xl-3 col-12 col-lg-4 col-sm-6 mt_30">
          <div class="areas_item text-center">
            <h3 class="head_two">{{ 'esim_simply' | translate }}</h3>
            <img class="img-fluid" src="./../../../assets/img/simply-esim.svg" alt="areas_icon01">
            <p>{{ 'esim_simply_para' | translate }}</p>
          </div>
        </div>
        <div class="col-xl-3 col-12 col-lg-4 col-sm-6 mt_30">
          <div class="areas_item text-center">
            <h3 class="head_two">{{ 'esim_protected' | translate }}</h3>
            <img class="img-fluid" src="./../../../assets/img/protected-esim.svg" alt="areas_icon01">
            <p>{{ 'esim_protected_para' | translate }}</p>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 col-12 mt_30">
          <div class="areas_item text-center">
            <h3 class="head_two">{{ 'esim_installation' | translate }}</h3>
            <img class="img-fluid" src="./../../../assets/img/installation-esim.svg" alt="areas_icon01">
            <p>{{ 'esim_installation_para' | translate }}</p>
          </div>
        </div>
      </div>
      <div class="text-center">
        <a  href="/contact-us" class="nav_btn green-btn mt_25">{{ 'buy_esim_btn' | translate }} <img class="img-fluid" src="./../../../assets/img/simcard-white.svg" alt="sim_icon"></a>
      </div>
    </div>
  </div>
  
