@import '../stellar-esim-common.css';
.e-sim-plans {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
.e-sim-plans .plans-item {
    width: 370px;
}
h3.plan-days {
    font-size: 24px;
    margin-bottom: 0;
}
h1.plan-size {
    font-size: 4.8rem;
    line-height: 4.5rem;
    font-weight: 700;
    font-family: 'silka-bold';
    margin-top: 1.6rem;
}
.e-sim-plans .plans-item p {
    font-size: 16px;
    color: #6E7286;
    margin-top: 1.6rem;
}
.areas_item{
    padding: 3.2rem;
}
.e-sim-plans .plans-item .nav_btn{
    margin-top: 3rem;
}
.popuplar-item{
    border: 1px solid #4364FA;
}
.most-popular{
    Padding:2px 12px 2px 12px;
    background-color: #ECEFFF;
    border-radius: 6px;
    display: inline-block;
    color: #4364FA;
    font-weight: 500;
    margin-bottom: 1.6rem;
}
.plan-tabs {
    background: #F7F6FC;
    border-radius: 8px;
    padding: 2px;
    margin: 3rem 0;
}
.plan-tabs span {
    padding: 9px 25px;
    color: #CACACA;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    width: 168px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
span.active {
    color: #fff !important;
    font-family: 'silka-bold';
}
.nav__slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 3px;
    pointer-events: none;
    z-index: 0;
}


.nav__slider-item {
    height: 100%;
    transition: transform 0.4s;
    width: 1;
    background-color: #4364FA;
    box-shadow: 0px 1px 2px 0px #0000000D;
    border-radius: 8px;
    color: #fff !important;
    width: 168px;
}
/* app section css */
.app-section{
border-radius: 10px;
background-color: #F7F6FC;
}
.app-right-section{
    position: absolute;
    max-width: 592px;
    right: 0;
    text-align: left;
    padding: 4.2rem;
}
.app-right-section p{
    margin: 3rem 0;
}
.pd-42{
    padding: 4.2rem;
}
.usage{
    position: absolute;
    display: flex;
    bottom: 0;
    top: 31px;
    height: -moz-fit-content;
    height: fit-content;
    margin: auto;
    left: 92px;
    width: 369px;
    justify-content: space-around;
    transform: rotate(-20deg);
    color: #4364FA;
}
.usage h2{
   font-family: 'silka-medium';
   font-size: 54px;
   line-height: 40px;
}


@media (max-width:1125px) {
    .app-right-section{
        width: 100%;
        position: relative !important;
    }
    .usage{
        top: -278px;
    bottom: 0;
    top: 31px;
    left: 70px;
    width: 353px;
    }
    
}

@media (max-width:767.98px) {
    .image{
        position: relative;
    }
    .usage{
        position: absolute;
        display: flex;
        bottom: 0;
        top: -65px !important;
        height: -moz-fit-content;
        height: fit-content;
        margin: auto;
        left: -20px;
        width: calc(100% - 17px) !important;
        justify-content: space-around;
        transform: rotate(0) !important;
        color: #4364FA;
        right: 0;
    }
    .usage h2{
        font-size: 46px !important;
        min-width: 37px;
        text-align: center;
    }
}
@media (max-width:850px) {
    .usage{
        width: 292px;
    }
    .usage h2{
        font-size: 40px !important;
    }
}
@media (max-width:425px) {
    .e-sim-plans .plans-item{
        width: 90%;
    }
    .app-right-section{
        padding-top: 4rem !important;
        padding: 0;
    }
    .plan-tabs span{
        font-size: 14px !important;
    }
    .top-padding{
        padding-top: 0 inherit;
    }
    .usage{
        top: -51px !important;
    }
    .usage h2{
      font-size: 3.4rem !important
    }
}
