<div class="plans_wrapper pt-100">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
            <h2 class="head_text">{{ 'esim_plan_main_title' | translate }} <span class="color-purple">{{ 'esim_plan_main_bold_purple' | translate }}</span> </h2>
          </div>
          <div class="plan-tabs position-relative">
            <span [class]="activeTab===1?'active':''" (click)="changePlanType(1)">{{'plan_tab_1' | translate}}</span>
            <span [class]="activeTab===2?'active':''" (click)="changePlanType(2)">{{'plan_tab_2' | translate}}</span>
            <div class="nav__slider">
              <div [style.transform]="'translateX('+ translaValue + '%)'" class="nav__slider-item"></div>
           </div>
          </div>
          
          <ng-container *ngIf="activeTab === 1">
            <div class="e-sim-plans align-items-center">
              <div class="plans-item">
                  <div class="areas_item text-center">
                    <h3 class="plan-days">{{ 'esim_euro_plan1_days' | translate }}</h3>
                    <h1 class="plan-size">{{'esim_euro_plan1_size' | translate}}</h1>
                    <p>{{ 'esim_euro_plan1_price' | translate }}</p>
                    <a href="/contact-us" class="nav_btn w-100 green-btn text-white justify-content-center">{{'esim_euro_plan_button' | translate}}
                      <img class="ml-2 h-auto" src="./../../../assets/img/arrow-right.svg" alt="righ-arrow" />
                    </a>
                  </div>
                </div>
                <div class="plans-item">
                  <div class="areas_item popuplar-item text-center">
                      <div class="text-ceter">
                          <span class="most-popular">{{'esim_euro_popular_plan' | translate}}</span>
                      </div>
                    <h3 class="plan-days">{{ 'esim_euro_plan2_days' | translate }}</h3>
                    <h1 class="plan-size">{{'esim_euro_plan2_size' | translate}}</h1>
                    <p>{{ 'esim_euro_plan2_price' | translate }}</p>
                    <a href="/contact-us" class="nav_btn w-100  text-white justify-content-center">{{'esim_euro_plan_button' | translate}}
                      <img class="ml-2 h-auto" src="./../../../assets/img/arrow-right.svg" alt="righ-arrow" />
                    </a>
                  </div>
                </div>
                <div class="plans-item">
                  <div class="areas_item text-center">
                     
                    <h3 class="plan-days">{{ 'esim_euro_plan3_days' | translate }}</h3>
                    <h1 class="plan-size">{{'esim_euro_plan3_size' | translate}}</h1>
                    <p>{{ 'esim_euro_plan3_price' | translate }}</p>
                    <a href="/contact-us" class="nav_btn w-100 green-btn text-white justify-content-center">{{'esim_euro_plan_button' | translate}} <img class="ml-2 h-auto" src="./../../../assets/img/arrow-right.svg" alt="righ-arrow" /></a>
                  </div>
                </div>
            </div>
          </ng-container>
          <ng-container *ngIf="activeTab === 2">
            <div class="e-sim-plans align-items-center">
              <div class="plans-item">
                  <div class="areas_item text-center">
                    <h3 class="plan-days">{{ 'esim_global_plan1_days' | translate }}</h3>
                    <h1 class="plan-size">{{'esim_global_plan1_size' | translate}}</h1>
                    <p>{{ 'esim_global_plan1_price' | translate }}</p>
                    <a  href="/contact-us" class="nav_btn w-100 green-btn text-white justify-content-center">{{'esim_global_plan_button' | translate}}
                      <img class="ml-2 h-auto" src="./../../../assets/img/arrow-right.svg" alt="righ-arrow" />
                    </a>
                  </div>
                </div>
                <div class="plans-item">
                  <div class="areas_item popuplar-item text-center">
                      <div class="text-ceter">
                          <span class="most-popular">{{'esim_global_popular_plan' | translate}}</span>
                      </div>
                    <h3 class="plan-days">{{ 'esim_global_plan2_days' | translate }}</h3>
                    <h1 class="plan-size">{{'esim_global_plan2_size' | translate}}</h1>
                    <p>{{ 'esim_global_plan2_price' | translate }}</p>
                    <a  href="/contact-us" class="nav_btn w-100  text-white justify-content-center">{{'esim_global_plan_button' | translate}}
                      <img class="ml-2 h-auto" src="./../../../assets/img/arrow-right.svg" alt="righ-arrow" />
                    </a>
                  </div>
                </div>
                <div class="plans-item">
                  <div class="areas_item text-center">
                     
                    <h3 class="plan-days">{{ 'esim_global_plan3_days' | translate }}</h3>
                    <h1 class="plan-size">{{'esim_global_plan3_size' | translate}}</h1>
                    <p>{{ 'esim_global_plan3_price' | translate }}</p>
                    <a  href="/contact-us" class="nav_btn w-100 green-btn text-white justify-content-center">{{'esim_global_plan_button' | translate}} <img class="ml-2 h-auto" src="./../../../assets/img/arrow-right.svg" alt="righ-arrow" /></a>
                  </div>
                </div>
            </div>
            
          </ng-container>
         
        <div class="col-12 mt_30">
          <img class="img-fluid w-100" src="./../../../assets/img/customer_img.svg" alt="customer_img">
        </div>
      </div>
    </div>
  </div>

  <div class="app_wrapper pt-100">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
            
                <div class="position-relative mt_30 app-section">
                    <img class="img-fluid position-absolute corner_icon01" src="./../../../assets/img/corner_icon01.svg" alt="corner_icon01">
                    <img class="img-fluid position-absolute corner_icon02" src="./../../../assets/img/corner_icon02.svg" alt="corner_icon02">
                    <img class="img-fluid position-absolute corner_icon03" src="./../../../assets/img/corner_icon03.svg" alt="corner_icon03">
                    <img class="img-fluid position-absolute corner_icon04" src="./../../../assets/img/corner_icon04.svg" alt="corner_icon04">
                    <div class="d-flex align-items-center pd-42 pb-0 flex-wrap">
                      <div class="image position-relative">
                        <div class="usage">
                          <h2 class="current-usage">1</h2>
                          <h2 class="remaining-usage">20</h2>
                        </div>
                        <img class="img-fluid d-none d-md-block corner_icon01" src="./../../../assets/img/mobile-app.svg" alt="corner_icon01">
                        <img class="img-fluid d-block d-md-none corner_icon01" src="./../../../assets/img/mobile_mobile.png" alt="corner_icon01">
                      </div>
                        
                        <div class="app-right-section">
                            <h2 class="head_text">{{ 'esim_app_main_title' | translate }} <span class="color-purple">{{ 'esim_app_main_bold_purple' | translate }} </span>{{ 'esim_app_main_title2' | translate }} </h2>
                            <p>{{'esim_app_para' | translate}}</p>
                            <div class="store-images">
                                <img class="mr-3" src="./../../../assets/img/Apple-store.svg">

                                Available in Aptoide, APK-pure and other stores.
                            </div>
                        </div>
                    </div>
                   
                  
                </div>
            </div>
        </div>
    </div>
  </div>
