<app-main-header title="{{ 'top_stellar' | translate }}" boldTitle="{{ 'vpn' | translate }}"></app-main-header>

<!-- about area start -->
<div class="about_wrapper" appMetaTags [description]="metaDescription" [ogTitle]="metaTitle" [keywords]="metaKeywords"
>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6  mt_50 text-center">
        <img class="img-fluid vpn_img" src="./../../../assets/img/vpn_img.svg" alt="about_img">
        <div class="available_text">
          <p>{{ 'available_with' | translate }}</p>
          <div>
            <a href="#"><img class="img-fluid" src="./../../../assets/img/product_icon01.svg" alt="product_icon01"></a>
            <a href="#"><img class="img-fluid" src="./../../../assets/img/product_icon02.svg" alt="product_icon02"></a>
            <a href="#"><img class="img-fluid" src="./../../../assets/img/product_icon03.svg" alt="product_icon03"></a>
            <a href="#"><img class="img-fluid" src="./../../../assets/img/product_icon04.svg" alt="product_icon04"></a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mt_50">
        <div>
          <p>{{ 'stellar_vpn_description_1' | translate }}</p>
          <p class="mt_30">{{ 'vpn_encryption_description' | translate }}</p>
          <p class="mt_30">{{ 'vpn_technical_description' | translate }}</p>
          <p class="mt_30">{{ 'stellar_vpn_stand_alone_description' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- about area end -->

  <!-- protect device area start -->
<app-your-devices-section></app-your-devices-section>
  <!-- protect device area start -->

  <!-- section customer area start -->
<app-customer-section></app-customer-section>
  <!-- section customer area end -->

  <!-- Stellar Security area start -->
<app-security-section></app-security-section>
  <!-- Stellar Security area start -->
