<div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
  <div class="install_app_item">
      <div class="d-flex align-items-center justify-content-between">
          <h3 class="head_two">{{appName}}</h3>
      </div>
      <div class="text-center mt_15">
          <img class="img-fluid install_appicon" src="./../../../assets/preinstalled/aptoide.png" alt="">
          <p class="mt_25"></p>
      </div>
  </div>
</div>
<div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
  <div class="install_app_item">
      <div class="d-flex align-items-center justify-content-between">
          <h3 class="head_two">Aptoide</h3>
      </div>
      <div class="text-center mt_15">
          <img class="img-fluid install_appicon" src="./../../../assets/img/install_appicon.svg" alt="install_appicon">
          <p class="mt_25"></p>
      </div>
  </div>
</div>
