<div class="app_wrapper py-100">
    <div class="container pd-sm-0">
        <div class="position-relative stellar-store-section overflow-hidden">
            <div class="image position-relative col-lg-12 px-0 px-md-12 text-center">
                <img class="img-fluid corner_icon01" src="./../../../assets/img/stellar-store.svg" alt="corner_icon01">
              </div>
              <div class="app-left-section big_headwrap m-auto text-center">
                <h1 class="store_head_text">{{'stellar_store_open_info' | translate}}</h1>
                <p class="mt_30">{{'stellar_store_now_text' | translate}}</p>
                <a href="/" class="nav_btn mt_30 px-5 justify-content-center">{{'stellar_store_button' | translate}}</a>
            </div>
           
          
        </div>
    </div>
  </div>

