<div class="areas_wrapper package_wrapper">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h2 class="head_text">{{ 'security_package_head_text' | translate }} <span>{{ 'security_package' | translate }}</span> {{ 'security_package_head_text2' | translate }}</h2>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
        <div class="areas_item text-center">
          <h3 class="head_two">{{ 'stellar' | translate }}<span> {{ 'phone' | translate }}</span></h3>
          <img class="img-fluid" src="./../../../assets/img/areas_icon01.svg" alt="areas_icon01">
          <p>{{ 'stellar_phone_description' | translate }}</p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
        <div class="areas_item text-center">
          <h3 class="head_two">{{ 'stellar' | translate }}<span> {{ 'esim_card' | translate }}</span></h3>
          <img class="img-fluid" src="./../../../assets/img/package_icon.svg" alt="areas_icon01">
          <p>{{ 'stellar_esim_description' | translate }}</p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
        <div class="areas_item text-center">
          <h3 class="head_two">{{ 'stellar' | translate }}<span> {{ 'protect' | translate }}</span></h3>
          <img class="img-fluid" src="./../../../assets/img/areas_icon05.png" alt="areas_icon01">
          <p>{{ 'stellar_protect_description' | translate }}</p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
        <div class="areas_item text-center">
          <h3 class="head_two">{{ 'stellar' | translate }}<span> {{ 'vpn' | translate }}</span></h3>
          <img class="img-fluid" src="./../../../assets/img/areas_icon03.svg" alt="areas_icon01">
          <p>{{ 'stellar_vpn_description' | translate }}</p>
        </div>
      </div>
    </div>
    <!--<div class="row justify-content-center">
      <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
        <div class="areas_item text-center">
          <h3 class="head_two">{{ 'stellar' | translate }}<span> {{ 'antivirus' | translate }}</span></h3>
          <img class="img-fluid" src="./../../../assets/img/areas_icon02.svg" alt="areas_icon01">
          <p>{{ 'stellar_antivirus_description' | translate }}</p>
        </div>
      </div>
      <div class="col-xl-3"></div>
      <div class="col-xl-3"></div>
      <div class="col-xl-3"></div>
    </div>-->
  </div>
</div>
