<!-- Stellar security area start -->
<div class="security_wrapper position-relative">
  <img class="img-fluid w-100 security_big_img" src="./../../../assets/img/security_big_img.svg" alt="security_big_img">
  <div class="security_wrap text-center">
    <h2 class="head_text">{{ 'security_unparalleled' | translate }} <span>{{ 'stellar_security' | translate }}</span></h2>
    <div class="security_box align-items-center">
      <img class="img-fluid" src="./../../../assets/img/security_img.svg" alt="security_img">
      <ul>
        <li>{{ 'constant_protection' | translate }}</li>
        <li>{{ 'daily_monitoring' | translate }}</li>
        <li>{{ 'complete_security_privacy' | translate }}</li>
        <li>{{ 'encrypted_message_storage' | translate }}</li>
        <li>{{ 'encrypted_message_storage' | translate }}</li>
        <li>{{ 'and_much_more' | translate }}</li>
      </ul>
    </div>
    <div>
      <a class="nav_btn"  href="/stellar-phone">{{ 'get_stellar_phone' | translate }} <img class="img-fluid" src="./../../../assets/img/mobile_icon.svg" alt="mobile_icon"></a>
    </div>
  </div>
</div>
<!-- Stellar security area end -->
