<app-main-header title="{{ 'privacy_policy' | translate }}" boldTitle="{{ 'policy' | translate }}"></app-main-header>

<div class="form_wrapper" appMetaTags [description]="metaDescription" [ogTitle]="metaTitle" [keywords]="metaKeywords"
>
  <div class="mt_50">
      <p><span class="font_700"></span></p>
      <p><span class="font_700">{{ 'your_privacy_important' | translate }}</span></p>
      <p class="mt_25">{{ 'personal_info_needed' | translate }}</p>
      <p class="mt_25">{{ 'info_retention' | translate }}</p>
      <p class="mt_25">{{ 'no_public_sharing' | translate }}</p>
      <p class="mt_25">{{ 'external_links_disclaimer' | translate }}</p>
      <p class="mt_25">{{ 'refuse_personal_info' | translate }}</p>
      <p class="mt_25">{{ 'continued_use_acceptance' | translate }}</p>
      <p class="mt_25">{{ 'effective_date' | translate }}</p>
  </div>
</div>
