<div class="order_summary_card">
    <div class="summary_card_header">
        <span>{{'order_summary_title' | translate}}</span>
    </div>
    <div class="summary_card_body pt-0">
        <div class="total_item items">
            <span>{{'order_summary_item' | translate}}</span><a>{{'order_summary_item_edit' | translate}}</a>
        </div>
        <div class="summary_invoice">
            <div class="items">
                <span>{{'order_summary_subtotal_label' | translate}}</span><span>{{'order_summary_subtotal_value' | translate}}</span>
            </div>
            <div class="items">
                <span>{{'order_summary_shipping_label' | translate}}</span><span>{{'order_summary_shipping_value' | translate}}</span>
            </div>
            <div class="items">
                <span>{{'order_summary_tax_label' | translate}}</span><span>{{'order_summary_tax_value' | translate}}</span>
            </div>
        </div>
        <div class="summary_total">
            <div class="items">
                <span>{{'order_summary_total_label' | translate}}</span>
                <span>{{'order_summary_total_value' | translate}}</span>
            </div>
        </div>
    </div>
</div>
